@charset "UTF-8";

div {
	margin: 10px 0px;
	/* 조정: 상하 여백을 늘립니다. */
}

.txt_input {
	width: 120px;
	/* 조정: 너비를 늘립니다. */
	display: inline-block;
}

.select_input {
	width: 120px;
	/* 조정: 너비를 늘립니다. */
	display: inline-block;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
}

div {
	margin: 10px 0;
}

.txt_input {
	width: 120px;
	display: inline-block;
}

.select_input {
	width: 120px;
	display: inline-block;
}

textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	resize: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-color: #3498db;
	/* 남성적인 블루 톤 사용 */
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background-color: #2980b9;
	/* hover 시 더 어두운 블루 톤으로 변경 */
}